body {
    
    font-family: "Inter", sans-serif;
    font-weight:400;
    
    font-optical-sizing: auto;
    font-style:italic;
    background-color: rgb(0, 0, 0);
    overflow: visible;
    
    
}

.title{
    
    text-shadow: rgb(255, 255, 255) 2px 0 5px;;
color: rgb(53, 57, 95); 
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: black; 
}


.Home{
     position: absolute;
    top: 50%;
    left: 50%;
     transform: translate(-50%,-690%);
    text-align: center;
}

.Portfolio{
     position: absolute;
    top: 50%;
    left: 50%;
     transform: translate(-300%,-890%);
}
.Contact{
    position: absolute;
    top: 50%;
    left: 50%;
     transform: translate(230%,-890%);
}
main {


    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform-origin: center;
    width: 1000px;
    margin: 0 auto 2em grid-auto-flow;
    padding: 1em 0.5em;
    display: flex;
    justify-content: center;


}

.headerr{
    background-color: rgb(0, 0, 0);
     display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50%;
    margin: auto;
  border-radius: 75px;
  border: 5px solid #070707;
 

}
.roundedCorners{
  display: flex;
margin: auto;
 position: fixed;
 width: 50%;
 overflow: hidden;   
  border-radius: 75px;
  border: 25px solid #070707;
  background-color: aliceblue;
 
  height: 550px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.latestThing{
      display: flex;
margin: auto;
 position: fixed;
 width: 45%;
 overflow: hidden;   
  border-radius: 35px;
  border: 15px solid #070707;
  background-color: aliceblue;

    height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    background: rgb(255, 255, 255);
    border-radius: 100%;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.gallery {
 display: flex;
 justify-content: space-around;
 width: 100%;
 overflow: hidden;   
}

.gallery-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex: 0 1 20px;
    width: 200%;
    height:550px;
    
    margin: 0 10px;
    background: #000000;
    overflow: hidden;
    transition: flex 1s cubic-bezier(0.075,0.82,0.165,1);
}

.gallery-item img {
    width: 1000%; 
  /*  height: 100%; */
    object-fit: contain;
}
